<ion-view hide-nav-bar="true" name="login-view">
    <ion-content class="">
        <h2 id="loginHeader">Log in to Pro Shepherd.</h2>
        <form id="loginForm" name="loginForm" ng-submit="login()" class="form-horizontal">
            <div id="oauthAnim" class="login-animate col-sm-12" ng-hide="isEventLogin">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control login-input" type="text" placeholder=" Email" ng-model="data.username" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input class="form-control login-input" type="password" placeholder=" Password" ng-model="data.password" required>
                        </div>
                    </div>
                </div>
                <p class="login-help help-block">* Please login with your Ride for Roswell information above.</p>
            </div>
            <div id="ezAnim" class="login-animate col-sm-12" ng-hide="!isEventLogin">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                            <input class="form-control login-input" type="text" placeholder=" Bib Number" ng-model="data.bibNumber" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control login-input" type="password" placeholder=" Full Name" ng-model="data.fullName" required>
                        </div>
                    </div>
                </div>
                <p class="login-help help-block">* Please login with your Event information above.</p>
            </div>
            <div class="bar bar-footer bar-energized">
                <a href="" ng-click="swapLogin()" class="button button-sm button-clear pull-left" ><i class="fa fa-reply "></i> {{data.loginType}}</button>
                <button type="submit" class="button pull-right" ng-disabled="loginForm.$invalid">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>